.container {
    margin: auto;
    width: 400px;
    overflow: auto;
    padding: 3rem 2rem;
    background-color: #f3f3f3;
  }
  body{
    /* background-image: url('bg2.jpg'); */
    background-size: cover;

background-color: #fff;

}
header{
    background-color: #00d1b2;
    position: fixed;
    width: 100%;
    z-index: 9;
    padding: 1rem;
}

  #my-form {
    padding: 4rem;
    /* background:#241b55fa; */
    color: black;
    border-radius: 15px;
    /* margin-top: 24%; */
  }
  
  #my-form label {
    display: block;
    font-size: 2.2rem;
    font-weight: bold;
    color: aliceblue;
  }



  #my-form input[type='text'], input[type='email'] {
      width: 75%;
      padding: 10px;
      border: none;
      margin-top: 10px;
  
  }
  
   input[type='search'] {
    width: 100%;
    padding: 8px 10px;
    border-radius: 5px;
    background-color: #dcdce5;
    border: none;
    /* border-bottom: 1px solid rgb(97, 93, 93); */
    /* background: none; */
    outline: none;
    /* color: white; */
    font-size: 18px;

    caret-color: #91a1cc;
  }
  /* label{
   
  } */
  #my-form label {
    display: block;
    font-weight: bold;
    margin-top:10px;
    font-size: 22px;
    margin-bottom: 0;
    color: #a19f9f;
  }
 .buttons .button{
    /* background-color: ; */
    border: none;
    
  }
 ul li{
    background: #00d1b2;
    margin-top: 7px;
    padding: 10px;
    border-radius: 15px; 
    padding: 5px;
  color: black;
       
 }
.error{
    background-color: rgb(255, 95, 95);
    padding:10px
}
.error::before{
  content: '❌';
}
.item {
    position: relative;
    /* width: 33%;
    top: 0;
    left: 50%; */

  }
  
  .success{
    background-color: rgb(47, 255, 127);
    padding:10px
  }
  .success::before{
    content:'✔️';
    width:200px
  }

  .item {
    position: relative;
  }
  
  .message{
  margin-top: 61px;
  padding:10px
  }
 
.item {
  position: relative;
}

.item .icon {
  position: absolute;
  right: 10px;
  color: white;
  cursor: pointer;
  /* background: rgba(255, 0, 0, 0.7); */
  border-radius: 50%;
  width: 20px;
  height: 20px;
  text-align: center;
  line-height: 20px;
  font-family: 'Courier New', Courier, monospace;
}


.tasks__item{
  margin-bottom :.5em;
  position: relative;
}
.tasks__item__toggle{
  cursor:pointer;
  width: 100%;
  text-align: left;
  padding :.85em 2.25em .85em 1em;
  background-color: rgba(black, .05);
  border: 1px solid rgba(black, .1);
}
.tasks__item__toggle:hover{
  background-color: rgba(black, .1);
  border-color: rgba(black, .15);
}
.tasks__item__toggle--completed{
  text-decoration: line-through;
  background-color :rgba(green, .15);
  border-color: rgba(green, .2);
}
.tasks__item__toggle--completed:hover{
  background-color: rgba(green, .25);
  border-color: rgba(green, .3);
}

.tasks__item__remove{
  position :absolute;
  height: 100%;
  top: 50%;
  right: 0;
  transform :translateY(-50%);
}
.tasks__item__remove i{
  vertical-align: middle;
}
.complete{
text-decoration: line-through;
background-color: red;
}
.uncomplete{
  text-decoration: none;
  background-color: green;
}

